html, body {
    /* altezza degli "elementi padri", serve per game-wrapper */
    height: 100%;
    margin: 0;
}

#game-wrapper {
    /* this way all its child will have absolute positioning relative to this element */
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgb(226, 226, 226); /* fallback bg */
    background-image: url("./../img/bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    overflow: hidden;
}

.menu {
    position: absolute;
    text-align: center;
    width: 40%;
    max-height: 70%;
    left: 29%;
    top: -200%;
    transition: all 1s ease 0s;
    background-color: #e58e26;
    box-shadow: 0.4em 0.4em 0px 0px rgba(0,0,0,0.75);
    z-index: 10;
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Arial', 'sans-serif';
    text-shadow: 2px 2px 2px rgba(30, 30, 30, 0.8);
    letter-spacing: 0.03em;
    padding: 0 1% 2.5% 0;
    overflow: auto;
}

.menu p {
    padding: 0 5%;
}

.menu-text {
    max-height: 80%;
    padding: 0px;
}

button, .powerup, input {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.1em;
    padding: 0.3em 1em;
    border: none;
    background:#f6b93b;
    color: white;
    text-shadow: 3px 3px rgba(30, 30, 30, 0.75);
    box-shadow: 0.2em 0.2em 0px 0px rgba(0,0,0,0.75);
    z-index: 6;
    margin-right: 0.7em;
    margin-left: 0.7em;
    margin-bottom: 0.5em;

}

#intro button {
    margin-right: 0.3em;
    margin-left: 0.3em;
}

#stats {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 2%;
    left: 2%;
    width: 13%;
    color: white;
    font-weight: bolder;
    z-index: 5;
    background-color: #5758BB;
    background-size: cover;
    font-family: 'Arial', 'sans-serif';
    box-shadow: 0.4em 0.4em 0px 0px rgba(0,0,0,0.75);
}

#stats img {
    width: 25%;
    vertical-align: middle;
    margin-left: 15%; 
}

#points-value, #money-value {
    vertical-align:middle;
    font-size: 2em;
    padding-left: 5%;
    margin: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5) ;
}

.money {
    position: absolute;
    z-index: 4;
    width: 4%;
    transition: all 1s ease 0s;
}

#login-msg.down {
    top: 5%;
    max-height: 90%;
}

#intro {
    width: 63%;
    left: 17.5%;
}

.menu.down {
    top: 15%;
}

.menu h2 {
    margin-bottom : 0;
}

#pause-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 6%;
    margin: 0;
    padding: 1.2% 0.5% 1.2% 1%;
}

.powerup {
    margin-right: 0;
}

#move-power-cost, #shoot-power-cost {
    max-width: 30%;
}

#move-power-cost img, #shoot-power-cost img {
    vertical-align: middle;
    width: 30%;
}

button:disabled {
    background-color: #CCAA5D;
}

input {
    margin-bottom: 0.5em;
    text-align: center;
}

/*  need this since, apart from innerHTML, which is non-standard,
    the other methods do not decode HTML entities */
#pause-btn:after{
    content: '\258C\258C';
}

#pause-btn.play:after {
    content: '\25BA';
}

#doc-page {
    width:90%;
    left: 4%;
    max-height: 80%;
}

#doc-page.down{
    top: 10%;
}

form {
    display: inline;
}